@import "src/color";

.form-button {
  font-family: "Ubuntu", sans-serif;
  border-radius: 15px;
  border: 2px solid transparent;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  outline: none;
  cursor: pointer;
  color: #ffffff;
  box-sizing: border-box;
  font-style: normal;
  width: 100%;
  font-size: 14px;
  height: 100%;
}

.blue {
  background: $accent-blue;
  &:hover {
    border: 2px solid $accent-blue;
  }
  &-no-active {
    background-color: $button-light-blue;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: auto;
  }
}
.rad {
  background: $Error;
  &:hover {
    border: 2px solid $Error;
  }
}
.green {
  background-color: $green;
  &:hover {
    border: 2px solid $green;
  }
  &-no-active {
    background-color: #8ef0b0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: auto;
  }
}

.login {
  font-weight: bold;
  font-size: 30px;
  line-height: 43px;
  size: 30px;
  letter-spacing: 0.105em;
  min-height: 60px;
}

.add-task {
  font-weight: normal;
  font-size: 14px;
}
.add-description-task {
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
}
