@import "src/color";

.project-add__tag {
  &-easy {
    border-radius: 50px 0 0 50px;
    box-shadow: 0 0 10px rgba(2, 57, 164, 0.13);
    height: 24px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: $Confirm;

    padding: 0 6px;
    box-sizing: border-box;
  }
  &-normal {
    box-shadow: 0 0 10px rgba(2, 57, 164, 0.13);
    height: 24px;

    display: flex;
    align-items: center;

    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #f8df00;

    padding: 0 6px;
    box-sizing: border-box;
  }
  &-difficult {
    border-radius: 0 50px 50px 0;
    box-shadow: 0 0 10px rgba(2, 57, 164, 0.13);
    height: 24px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: $Error;
    padding: 0 6px;
    box-sizing: border-box;
  }
}
.task__users {
  display: flex;
  justify-content: space-between;
  &-user {
    display: flex;
    align-items: center;
  }
}
.modal-task__button {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  button {
    width: 120px;
  }
}
