@import "src/color";
.tasks {
  &__task {
    display: flex;
    background-color: $tasks;
    min-height: 80px;
    margin-bottom: 8px;
    border-radius: 15px;
    flex-direction: column;
    cursor: pointer;
    justify-content: space-between;
    padding: 16px;
    box-sizing: border-box;
    &__title {
      color: #000000;
      display: flex;
      box-sizing: border-box;
      font-weight: normal;
      font-size: 14px;
      line-height: 150%;
    }

    &__bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}


.task {
  &-esy {
    padding: 5px 10px;
    align-items: center;
    background-color: #b9ecb5;
    max-width: 70px;
    border-radius: 15px;
    justify-content: center;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    box-sizing: border-box;
  }
  &-medium {
    padding: 5px 10px;
    align-items: center;
    background-color: #f1eaa5;
    max-width: 70px;
    border-radius: 15px;
    justify-content: center;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    box-sizing: border-box;
  }
  &-complicated {
    padding: 5px 10px;
    align-items: center;
    background-color: #f3b6b8;
    max-width: 70px;
    border-radius: 15px;
    justify-content: center;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    box-sizing: border-box;
  }
}
