@import "src/color";

.task-info {
  height: 100%;
  width: 100%;
  top: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.22);
  display: flex;
  align-items: center;
  justify-content: center;
z-index: 5;
  &__content {
    min-height: 111px;
    height: 689px;
    width: 884px;
    max-height: 95%;
    background-color: #ffffff;
    opacity: 1;
    border-radius: 15px;
    padding: 25px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    line-height: 100%;
    font-weight: 400;
    justify-content: space-between;
    &-edit {
      height: 23px;
      width: 23px;
      margin-left: 10px;
      cursor: pointer;
      & svg {
        padding: 1px;
        height: 15px;
        width: 15px;
      }
    }
    &__header {
      min-height: 50px;

      &-title {
        display: flex;
        align-items: center;
        min-height: 33px;
        max-height: 33px;
        &-txt {
          display: flex;
          align-items: center;
        }
        &__edit {
          min-height: 33px;
          max-height: 33px;
          border: none;
          outline: none;
          min-width: 760px;
          max-width: 760px;
          font-weight: normal;
          font-size: 25px;
          line-height: 100%;
          box-sizing: border-box;
          border-radius: 15px;
          background-color: $tasks;
          position: relative;
          z-index: 100;
          padding: 0;
          padding-left: 10px;
          margin-left: -10px;
        }
      }
      &-sub {
        display: flex;
        align-items: center;
      }
      &-list {
        font-size: 15px;
        line-height: 70.5%;
        color: #c0c0c0;
      }
      &-delete {
        cursor: pointer;
        margin-left: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        height: 16px;
        width: 67px;
        border-radius: 15px;
        background-color: #d1d5ff;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 100%;
      }
    }

    &__description {
      min-height: 105px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &-header {
        display: flex;
        align-items: center;
        & button {
          width: 106px;
          margin-left: 15px;
        }
      }
      &-input {
        margin-right: 75px;
        resize: none;
        border: none;
        outline: none;
        background-color: $tasks;
        border-radius: 15px;
        min-height: 70px;
        font-weight: normal;
        font-size: 17px;
        line-height: 100%;
        padding: 10px 15px;
        box-sizing: border-box;
        color: #000000;
        &::placeholder {
          color: $header;
        }
        &:disabled {
        }
      }
    }

    &__tags {
      display: flex;
      flex-direction: column;

      justify-content: space-between;

      &-title {
        display: flex;
        height: 25px;
      }

      &__content {
        min-height: 27px;
        flex-wrap: wrap;
        flex-direction: row;
        display: flex;

        &-item {
          min-height: 20px;
          font-weight: 600;
          font-size: 17px;
          line-height: 100%;
          color: #ffffff;
          background-color: $green;
          border-radius: 15px;
          margin-right: 10px;
          box-sizing: border-box;
          padding: 0 15px;
          margin-top: 10px;
        }
      }
    }

    &__users {
      display: flex;
      flex-direction: column;
      min-height: 63px;
      background-color: #00ee51;
      &-title {
        display: flex;
      }
      &-container {
        display: flex;
      }
    }

    &__file {
      display: flex;
      flex-direction: column;
      min-height: 258px;
      max-height: 258px;
      background-color: #00ee51;

      &__container {
        overflow: auto;
        min-height: 225px;

        &::-webkit-scrollbar {
          width: 7px;
          background-color: lightgray;
          border-radius: 15px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: gray;
          border-radius: 15px;
        }
      }
    }
  }
}
