@import "src/color";

.header {
  background-color: #ffffff;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  padding: 0 25px;
  box-sizing: border-box;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
  &-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__title {
    text-decoration: none;
    color: black;
    font-style: normal;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 16px;
    margin-left: 50px;

    & svg {
      width: 16px;
      height: 16px;
    }
  }
}
