@import "src/color";

.modal-status-content__popup {
  position: relative;
  z-index: 100;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  min-height: 132px;
  width: 410px;
  justify-content: space-around;
  align-items: center;
  display: flex;
  margin: auto;
  flex-direction: column;

  &__input {
    background: $tasks;
    outline: none;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 100%;
    width: 363px;
    border: 1px solid $button-blue;
    box-sizing: border-box;
    border-radius: 15px;
    min-height: 57px;

    &::placeholder {
      color: $header;
      font-weight: 300;
      font-size: 25px;
      line-height: 100%;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 365px;

    & svg {
      cursor: pointer;
      width: 24px;
      height: 24px;
    }

    & path {
      fill: $header;
    }
  }

  & .form-button {
    min-height: 45px;
    width: 140px;
  }
}
