@import "src/color";

.login-page {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;

  &__title {
    margin-top: 5px;
    font-size: 50px;
    line-height: 72px;
    letter-spacing: 0.105em;
    font-weight: 700;
  }

  &__content {
    border-radius: 15px;
    display: flex;
    background-color: #bfc4ff;
    min-height: 750px;
    min-width: 600px;
    margin: auto;
    flex-direction: column;
    margin-top: 2px;

    &__title {
      font-weight: 500;
      font-size: 30px;
      line-height: 43px;
      letter-spacing: 0.105em;
      margin: 5% 0 2.5%;
    }
  }
}

.login-form {
  display: flex;
  margin: 0;
  justify-content: space-around;
  flex-direction: column;

  &__form {
    display: flex;
    margin: auto;
    justify-content: space-around;
    flex-direction: column;
    min-height: 210px;
    width: 72%;

    &__input {
      justify-content: center;
      align-items: center;
      height: 55px;
      background: #f8f8f8 !important;
      outline: none;
      border-radius: 15px;
      border: 0;
      font-weight: 300;
      font-size: 25px;
      line-height: 12px;
      color: black;
      padding: 0 10px;

      &::placeholder {
        color: $header;
      }
    }
  }

  &__link {
    width: 72%;
    height: 430px;
    display: flex;
    margin: auto;
    justify-content: space-around;
    flex-direction: column;

    &__reg {
      box-sizing: border-box;
      display: flex;
      background: #f8f8f8 !important;
      border-radius: 15px;
      font-size: 25px;
      line-height: 30px;
      height: 55px;
      align-items: center;
      justify-content: center;
      color: #000000;
      font-weight: 500;

      &__img {
        margin-bottom: -5px;
      }
    }

    &__txt {
      font-size: 25px;
      line-height: 30px;
      font-weight: 400;
      color: #3a3a3a;
    }
  }
}

.forgot {
  padding: 23px;
  border-bottom: solid 3px rgba(109, 117, 195, 0.59);
  margin-bottom: 20px;
}

.reg {
  margin-top: 50px;
}
