@import "src/color";
.login-form {
  &__content {
    display: flex;
    align-items: center;
    margin: 100px auto;
    justify-content: space-between;
    background-color: white;
    border-radius: 15px;
    min-width: 370px;
    width: 370px;
    min-height: 400px;
    height: 400px;
    padding: 63px 54px;
    box-sizing: border-box;
    &-button {
      margin: 0 auto;
      margin-top: 24px;
      height: 30px;
      display: flex;
      width: 190px;
    }
    &-txt {
      width: 100%;
      font-size: 14px;
      line-height: 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: $dark-grey;
    }
  }
}
.login-link {
  text-decoration: none;
  color: $dark-grey;
}
