@import "src/color";
.project {
  &__users {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 24px;
    &-txt {
      margin-right: 20px;
    }
  }
}

.lists {
  display: flex;
  &__description {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border-radius: 15px;
    font-size: 14px;
    min-height: 50px;
    align-self: flex-start;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    padding: 8px 24px 24px;
    box-sizing: border-box;
    &-title {
      color: $dark-grey;
      margin-right: 8px;
      margin-bottom: 16px;
      margin-top: 16px;
      display: flex;
      align-items: center;
      &-status {
        margin-top: 0;
        margin-right: 8px;
      }
    }
    &-status {
      display: flex;
      align-items: center;
      margin-bottom: 0px;
    }
    &-description {
      display: flex;
      flex-direction: column;
    }
    &__user {
      display: flex;
      align-items: center;
      &-icon {
        margin-left: 0;
      }
    }
  }

  &__list {
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    background: #d9e2ee;
    border-radius: 15px;
    max-height: 78vh;
    min-height: 50px;
    min-width: 175px;
    align-self: flex-start;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;

    overflow: auto;
    &-tasks {
      overflow: auto;
      margin: 0 16px 8px;
    }
    &__header {
      display: flex;
      justify-content: space-between;
      margin: 0 11px;
      align-items: center;
    }

    & svg:hover {
      cursor: pointer;
    }

    &__edit {
      border: none;
      outline: none;
      font-style: normal;
      font-size: 25px;
      line-height: 100%;
      width: 363px;
      box-sizing: border-box;
      border-radius: 15px;
      background-color: $main;
      position: relative;
      z-index: 100;
      min-height: 41px;
      max-height: 41px;
      margin: 12px 0;
      font-weight: 500;
      padding-left: 10px;
    }

    &-title {
      display: flex;
      align-items: center;
      color: #393939;
      min-height: 50px;
      margin-left: 16px;
      font-weight: normal;
      font-size: 16px;
      line-height: 18px;
    }

    &__add-task {
      background: #e1e4ff;
      border-radius: 15px;
      min-height: 52px;
      display: flex;
      align-items: center;
      margin: 16px 10px;
      font-weight: normal;
      font-size: 25px;
      line-height: 100%;
      padding-left: 15px;
      cursor: pointer;
      border: 2px solid transparent;

      &:hover {
        border: 2px solid $button-blue;
      }

      & svg {
        margin-right: 11px;
      }

      &__popup {
        position: relative;
        z-index: 100;
        background: #ffffff;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        min-height: 132px;
        width: 410px;
        justify-content: space-around;
        align-items: center;
        display: flex;
        margin: auto;
        flex-direction: column;

        &__input {
          background: $tasks;
          outline: none;
          font-style: normal;
          font-weight: normal;
          font-size: 25px;
          line-height: 100%;
          width: 363px;
          border: 1px solid $button-blue;
          box-sizing: border-box;
          border-radius: 15px;
          min-height: 57px;

          &::placeholder {
            color: $header;
            font-weight: 300;
            font-size: 25px;
            line-height: 100%;
          }
        }

        &__bottom {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 365px;

          & svg {
            cursor: pointer;
            width: 24px;
            height: 24px;
          }

          & path {
            fill: $header;
          }
        }

        & .form-button {
          min-height: 45px;
          width: 140px;
        }
      }
    }
  }

  &__add-list {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: 2px solid transparent;
    box-sizing: border-box;

    border-radius: 15px;
    min-height: 50px;
    max-height: 50px;
    min-width: 50px;
    cursor: pointer;

    & svg {
      height: 24px;
      width: 24px;
    }

    &:hover {
      border: 2px solid #0338ef;
    }
  }
}

input {
  font-family: "Ubuntu", sans-serif;
}
textarea {
  font-family: "Ubuntu", sans-serif;
}

.modal-action-list {
  display: flex;
  position: absolute;
  z-index: 100;
  margin-left: 106px;
  width: 310px;
  height: 210px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  background-color: #ffffff;
  flex-direction: column;
  font-size: 25px;
  line-height: 100%;
  font-weight: 400;
  padding: 15px;
  box-sizing: border-box;
  justify-content: space-between;

  &__closed {
    position: absolute;
    top: 5px;
    right: 19px;
    cursor: pointer;
  }

  &__title {
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-bottom: solid 1px rgba(196, 196, 196, 0.4);
  }

  &__item {
    cursor: pointer;
    padding-left: 10px;
    align-items: center;
    display: flex;
    height: 40px;

    &:hover {
      background-color: $tasks;
    }
  }
}
