@import "src/color";

.header__project_list {
  top: 50px;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  width: 100%;

  &__title {
    background: #d1d5ff;
    border-radius: 15px;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    margin: 0 15px;
    box-sizing: border-box;

    &-name {
      font-size: 25px;
      line-height: 27px;
    }

    &-svg {

      &-true {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid transparent;
        height: 30px;
        width: 30px;
        padding: 3px;
        box-sizing: border-box;
        border-radius: 5px;
        margin-left: 20px;

        & svg path {
          fill: #6d75c3;
        }

        &:hover {
          border: 2px solid #2846af;
        }
      }

      &-false {
        background-color: #6d75c3;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid transparent;
        height: 30px;
        width: 30px;
        padding: 3px;
        box-sizing: border-box;
        border-radius: 5px;
        margin-left: 20px;

        &:hover {
          border: 2px solid #2846af;
        }
      }
    }
  }

  &__users {
    display: flex;
    flex-direction: row;
    font-size: 25px;
    line-height: 30px;
    height: 40px;
    align-items: center;
    box-sizing: border-box;
    padding: 0 15px;
    border-radius: 15px;
    background-color: #d1d5ff;

    &-item {
      height: 30px;
      width: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $orange;
      border-radius: 50%;
      font-weight: 700;
      font-size: 25px;
      color: #ffffff;
      margin-right: 5px;
    }

    &-add {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 5px;
      cursor: pointer;

      &:hover {
        background-color: #f4f5ff;
      }

      & svg {
        height: 15px;
        width: 15px;
      }
    }
  }
}
.lists {
  padding-top: 135px;
  display: flex;

  &__list {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    min-width: 430px;
    max-height: 78vh;
    min-height: 65px;
    border: 1px solid #eeeeee;
    margin: 0 15px;
    align-self: flex-start;

    &__header {
      display: flex;
      justify-content: space-between;
      margin: 0 11px;
      align-items: center;
    }

    & svg:hover {
      cursor: pointer;
    }

    &__edit {
      border: none;
      outline: none;
      font-style: normal;
      font-size: 25px;
      line-height: 100%;
      width: 363px;
      box-sizing: border-box;
      border-radius: 15px;
      background-color: $main;
      position: relative;
      z-index: 100;
      min-height: 41px;
      max-height: 41px;
      margin: 12px 0;
      font-weight: 500;
      padding-left: 10px;
    }

    &-title {
      font-weight: 500;
      font-size: 25px;
      line-height: 100%;
      display: flex;
      align-items: center;
      color: #000000;
      min-height: 65px;
      margin-left: 10px;
    }

    &-tasks {
      overflow: auto;

      &::-webkit-scrollbar {
        width: 7px;
        background-color: lightgray;
        border-radius: 15px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: gray;
        border-radius: 15px;
      }

      &__task {
        display: flex;
        width: 386px;
        background-color: $tasks;
        margin: auto;
        min-height: 90px;
        max-height: 322px;
        margin-bottom: 16px;
        border-radius: 15px;
        flex-direction: column;
        cursor: pointer;

        &:hover &-edit {
          opacity: 1;
        }

        &-edit {
          height: 30px;
          width: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          opacity: 0;

          & svg {
            height: 25px;
            width: 25px;
          }

          &:hover {
            background: #dde1ff;
            border-radius: 5px;
          }
        }

        &__title {
          font-weight: normal;
          font-size: 25px;
          line-height: 100%;
          color: #000000;
          background: #8d98ff;
          border-radius: 15px 15px 0px 0px;
          height: 40px;
          width: 100%;
          padding: 0 10px;
          display: flex;
          align-items: center;
          box-sizing: border-box;
          justify-content: space-between;
        }

        &__tags {
          height: 40px;
          border-bottom: 1px solid rgba(196, 196, 196, 0.3);
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-direction: row;
          margin-left: 10px;

          &-more {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: row;
          }

          &-item {
            min-height: 20px;
            font-weight: 600;
            font-size: 17px;
            line-height: 100%;
            color: #ffffff;
            background-color: $green;
            border-radius: 15px;
            margin-right: 10px;
            box-sizing: border-box;
            padding: 0 15px;
          }
        }

        &__file {
          min-height: 170px;
          border-bottom: 1px solid rgba(196, 196, 196, 0.3);
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &__bottom {
          min-height: 50px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 0 10px;

          &__file {
            float: left;
            font-size: 25px;
            line-height: 30px;

            & svg {
              margin-bottom: -3px;
            }
          }
        }

        &__author {
          display: flex;
          flex-direction: row;

          &-item {
            width: 30px;
            height: 30px;
            background: $green;
            border-radius: 50%;
            cursor: pointer;
            font-weight: 700;
            font-size: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #ffffff;
            margin-right: 5px;
          }
        }
      }
    }

    &__add-task {
      background: #e1e4ff;
      border-radius: 15px;
      min-height: 52px;
      display: flex;
      align-items: center;
      margin: 16px 10px;
      font-weight: normal;
      font-size: 25px;
      line-height: 100%;
      padding-left: 15px;
      cursor: pointer;
      border: 2px solid transparent;

      &:hover {
        border: 2px solid $button-blue;
      }

      & svg {
        margin-right: 11px;
      }

      &__popup {
        position: relative;
        z-index: 100;
        background: #ffffff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        min-height: 132px;
        width: 410px;
        justify-content: space-around;
        align-items: center;
        display: flex;
        margin: auto;
        flex-direction: column;

        &__input {
          background: $tasks;
          outline: none;
          font-style: normal;
          font-weight: normal;
          font-size: 25px;
          line-height: 100%;
          width: 363px;
          border: 1px solid $button-blue;
          box-sizing: border-box;
          border-radius: 15px;
          min-height: 57px;

          &::placeholder {
            color: $header;
            font-weight: 300;
            font-size: 25px;
            line-height: 100%;
          }
        }

        &__bottom {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 365px;

          & svg {
            cursor: pointer;
            width: 24px;
            height: 24px;
          }

          & path {
            fill: $header;
          }
        }

        & .form-button {
          min-height: 45px;
          width: 140px;
        }
      }
    }
  }

  &__add-list {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: 2px solid transparent;
    box-sizing: border-box;
    border-radius: 15px;
    min-height: 50px;
    max-height: 50px;
    min-width: 50px;
    cursor: pointer;

    & svg {
      height: 24px;
      width: 24px;
    }

    &:hover {
      border: 2px solid #0338ef;
    }
  }
}

input {
  font-family: "Jost", sans-serif;
}

.modal-action-list {
  display: flex;
  position: absolute;
  z-index: 10;
  margin-left: 106px;
  width: 310px;
  height: 210px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  background-color: #ffffff;
  flex-direction: column;
  font-size: 25px;
  line-height: 100%;
  font-weight: 400;
  padding: 15px;
  box-sizing: border-box;
  justify-content: space-between;

  &__closed {
    position: absolute;
    top: 5px;
    right: 19px;
    cursor: pointer;
  }

  &__title {
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-bottom: solid 1px rgba(196, 196, 196, 0.4);
  }

  &__item {
    cursor: pointer;
    padding-left: 10px;
    align-items: center;
    display: flex;
    height: 40px;

    &:hover {
      background-color: $tasks;
    }
  }
}
