.input{
  box-sizing: border-box;
  outline: none;
  background: #f8f8f8 !important;
  border-radius: 15px;
  font-style: normal;
  border: 0;
  padding: 12px 34px;
  font-weight: 300;
  font-size: 25px;
  line-height: 30px;
  color: #747474;
  width: 72%;
  margin: 0 0 2% 0;
}