$button-blue:#2879FF;
$pink:#FF1678;
$blue:#6774F8;
$purple:#C300E2;
$red:#F32F2F;
$orange:#FF900E;
$green:#00EE51;
$light-blue:#00bee8;
$light-purple:#EA69FF;
$yellow:#F8DF00;
$turquoise: #55EAAB;
$grey: #DCDCDC;
$header: #8D98FF;
$main:#DDE1FF;
$tasks:#F4F5FF;
$button-light-blue:#83B2FF;
$accent-blue: #0338EF;
$search:#D1D5FF;