$button-blue: #2879ff;
$pink: #ff1678;
$blue: #6774f8;
$purple: #c300e2;
$red: #f32f2f;
$orange: #ff900e;
$green: #00ee51;
$light-blue: #00bee8;
$light-purple: #ea69ff;
$yellow: #f8df00;
$turquoise: #55eaab;
$grey: #dcdcdc;
$header: #8d98ff;
$main: #dde1ff;
$light-main: #f4f5ff;
$no-active-txt: #c0c0c0;
$tasks: #f4f5ff;
$button-light-blue: #83b2ff;
$accent-blue: #0338ef;
$search: #d1d5ff;
