$button-blue: #2879ff;
$pink: #ff1678;
$blue: #6774f8;
$purple: #c300e2;
$red: #f32f2f;
$orange: #ff900e;
$green: #00ee51;
$light-blue: #00bee8;
$light-purple: #ea69ff;
$yellow: #f8df00;
$turquoise: #55eaab;
$grey: #dcdcdc;
$header: #8d98ff;
$main: #dde1ff;
$light-main: #f4f5ff;
$no-active-txt: #c0c0c0;
$tasks: #f4f5ff;
$button-light-blue: #83b2ff;
$accent-blue: #0338ef;
$search: #d1d5ff;

$accent-blue:#4F8AFD;
$ultra-lightblue : #EDF3FF;
$ultra-dark-blue : #0239A4;
$light-blue : #91B6FE;
$Grey :#889ABD;
$dark-blue:#0356F6;
$black :#10141D;
$white : #FCFCFD;
$Error: #EC1B1B;
$Light-Grey : #B0BCD3;
$Confirm : #2CCF11;
$ultra-dark-grey :#485C83;
$dark-grey : #576F9D;
$ultra-light-grey : #F6F8FB;
$middle-light-grey :#D9E2EE;

